.墙壁{
background-color:#111111;
padding:100px;
}

span.门{
background:transparent;
color:#fff;
padding:0.8rem 2rem;
font-size:1.4em;
outline:none;
position:relative;
transition:0.2s ease-in-out;
letter-spacing:2px;
}
span.门 a{color:#ffffff;}

.name{
width:100%;
text-align:center;
padding:0 0 3rem;
padding-top:4rem;
letter-spacing:0.5px;
text-transform:uppercase;
text-shadow:0 1px 1px #00000066;
}

.墙 .字{
position:absolute;
width:80px;
text-align:center;
animation:blink 0.8s infinite;
color:transparent;
}

.墙 .字:before{
font-size:0.7em;
content:"不要进";
}

.墙 .字:nth-child(1){
top:-30px;
left:-40px;
transform:rotate(-20deg);
animation-duration:1.5s;
}

.墙 .字:nth-child(2){
right:-40px;
top:-20px;
transform:rotate(15deg);
animation-duration:1.3s;
}

.墙 .字:nth-child(3){
top:-60px;
left:15px;
transform:rotate(10deg);
animation-duration:1s;
}

.墙 .字:nth-child(4){
top:-70px;
left:95px;
transform:rotate(2deg);
animation-duration:1.7s;
}

.墙 .字:nth-child(5){
top:80px;
left:105px;
transform:rotate(-20deg);
animation-duration:1.8s;
}

.墙 .字:nth-child(6){
top:80px;
left:5px;
transform:rotate(10deg);
animation-duration:1.2s;
}

.墙 .字:nth-child(7){
top:50px;
}

.墙 span:hover .字:before{
font-size:0.7em;
content:"会死";
width:70px;
color:#ff0000;
}

@keyframes blink{
25%,75%{color:transparent;}
40%,60%{color:#fff;}
}

.入夜{
color:linear-gradient(to bottom,#111111,#11111100);
background:linear-gradient(to bottom,#11111100,#111111);
}

.入夜_字{
background-image:linear-gradient(to bottom,var(--ps2),#ffffff);
-webkit-background-clip:text;
background-clip:text;
color:transparent;
}

.天亮{
color:linear-gradient(to bottom, #11111100,#111111);
background:linear-gradient(to bottom,#111111,#11111100);
}

.天亮_字{
background-image:linear-gradient(to bottom,#ffffff,var(--ps2));
-webkit-background-clip:text;
background-clip:text;
color:transparent;
}

.黑天{background-color:#111111;color:#ffffff;}

.入夜,.黑天,.天亮{
margin:auto -60px;
padding:0 60px;
}

@media screen and (max-width:767px){
.入夜,.黑天,.天亮{
margin:auto -12px;
padding:0 12px;
}
}