---
layout: default
---
<style>
    html,body{
      margin:0;
      padding:0;
   }

    nav div {
        width: 100%;
        height: 100%;
        background-image: url('{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    nav div:after {
        content: "";
        display: block;
        padding-bottom: 40%;

    }

    nav a {
        color: #{% if page.nav_color %}{{ page.nav_color }}{% else %}{{ site.nav_color }}{% endif %};
        font-weight: 800;
        height: 50px;
        padding: 15px 15px;
        line-height: 20px;
        text-decoration: none;
    }

    nav a:hover {
        color: #0085A1;
    }

    nav :first-child {
        float: left;
        font-size: 18px;
    }

    nav :not(:first-child) {
        float: right;
        font-size: 12px;
    }
</style>

</head>

<nav>
    <div>
        <a href="/">{{ site.title }}</a>
        {{ page.nav_url }}<a href="/">返回主页</a></div>
</nav>

{{ content }}
