---
layout: default
---
<style>
    html,body{
      margin:0;
      padding:0;
   }

    nav div {
        width: 100%;
        background-image: url('/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    nav div:after {
        content: "";
        display: block;
        padding-bottom: 40%;

    }

    nav a {
        color: #{% if page.nav_color %}{{ page.nav_color }}{% else %}{{ site.nav_color }}{% endif %};
        font-weight: 800;
        height: 50px;
        padding: 15px 15px;
        line-height: 20px;
        text-decoration: none;
    }

    nav a:hover {
        color: #0085A1;
    }

    nav :first-child {
        float: left;
        font-size: 18px;
    }

    nav :not(:first-child) {
        float: right;
        font-size: 12px;
    }

    nav span {
        color: #fff;
        text-shadow: #000 5px 0 0, #000 0 5px 0, #000 -5px 0 0, #000 0 -5px 0;
        cursor: default;
    }

    @media (min-width: 768px) {
        /*电脑*/
        nav span {
            position: absolute;
            left: 35%;
            top: 20%;
            font-size: 45px;
        }

        div.body {
        position: relative;
        top: 20px;
        width: 65%;
        margin: auto;
    }
    }

    /*电脑*/

    @media (max-width: 767px) {

        /*手机*/
        nav span {
            position: absolute;
            left: 35%;
            top: 5%;
            font-size: 30px;
        }

        div.body {
        position: relative;
        top: 20px;
        width: 100%;
        margin: auto;
    }
    }

    /*手机*/




    #back-top {
        position: fixed;
        left: 85%;
        bottom: 10%;
    }

    #back-top a {
        width: 70px;
        height: 70px;
        display: block;
        background: url(/img/back-top.png) no-repeat center center;
        border-radius: 20px;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        transition: 2s;
    }

    #back-top a:hover {
        transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        -webkit-transform: translate(0px, 20px);
    }

    #back-top a:active {
        transform: translate(0px, -400px);
        -ms-transform: translate(0px, -400px);
        -webkit-transform: translate(0px, -400px);
    }

    footer {
        position: relative;
        top: 300px;
    }

    footer img {
        position: relative;
        bottom: 50px;
        display: block;
        margin: 0 auto;
    }
</style>

</head>
<body>
<nav>
    <div>
        <a href="/">{{ site.title }}</a>
        {{ page.nav_url }}<a href="/">返回主页</a></div>
        <span><h1>{% if page.title %}{{ page.title }}{% else %}　{% endif %}</h1></span>
</nav>

<div class="body">

{{ content }}

</div>

<div id="back-top">
    <a href="#top"></a>
</div>

<footer><a href="/mq"><img class="tubiao" src="/img/footer.png" /></a></footer>

</body>